name: rust test

on:
  push:
    branches: [main]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: jdx/mise-action@v2

      - uses: Swatinem/rust-cache@v2

      - run: cargo test

      - run: cargo clippy -- -D warnings
